@{
    ViewBag.Title = "Roles";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Roles</h2>

<div id="partial-content">
</div>

@section Scripts{
    <script type="text/javascript">
        $(function () {
            $("#partial-content").load("@Url.Action("PartialIndex", "Role")");

            $("body").on("click", ".btn-delete", function (e) {
                e.preventDefault();
                $.ajax({
                    type: "POST",
                    url: "@Url.Action("Delete", "Role")",
                    data: { id: $(this).attr("data-id") },
                    success: function (data) {
                        $("#partial-content").load("@Url.Action("PartialIndex", "Role")");
                        $("#div-info").empty();
                        $("#div-info").append(data);
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        $("$div-alert").empty();
                        $("#div-alert").append(textStatus);
                        $("#div-alert").append("<br/>" + errorThrown);
                    }
                });
            });
        });

    </script>
}