@{
    ViewBag.Title = "Groups";
    if (User.IsInRole("Education Unit Admin"))
    {
        Layout = "~/Views/Shared/_UnitAdminLayout.cshtml";
    }
    if (User.IsInRole("Global Admin"))
    {
        Layout = "~/Views/Shared/_GlobalAdminLayout.cshtml";
    }
}

<h2>Groups</h2>
<input type="text" id="filter-input" class="form-control" />
<div id="partial-content">
</div>

@section Scripts{
    <script type="text/javascript">
        $(function () {
            $("#partial-content").load("@Url.Action("PartialIndex", "Group")");

            $("body").on("click", ".btn-delete", function (e) {
                e.preventDefault();
                $.ajax({
                    type: "POST",
                    url: "@Url.Action("Delete", "Group")",
                    data: { id: $(this).attr("data-id") },
                    success: function (data) {
                        $("#partial-content").load("@Url.Action("PartialIndex", "Group")");
                        $("#alert-content").empty();
                        $("#alert-content").append(data);
                        setTimeout(function () {
                            $("#alert-content").empty();
                        }, 3500);
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        alert("An error occured while processing request");
                    }
                });
            });

            $("body").on("keypress", "#filter-input", function (e) {
                if (e.which == 13)
                    $("#partial-content").load("@Url.Action("PartialIndex", "Group")", { filter : $(this).val()});
            });
        });

    </script>
}