
@{
    ViewBag.Title = "CreateSelect";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>CreateSelect</h2>

@Html.ActionLink("Create student", "Create", "Student")
@Html.ActionLink("Create teacher", "Create", "Teacher")
@Html.ActionLink("Create admin", "Create", "Admin")