@{
    ViewBag.Title = "Forgot Password Confirmation";
    Layout = null;
}
<link href="@Url.Content("~/Design/adminForm/vendor/bootstrap-4.1/bootstrap.min.css")" rel="stylesheet" />
<link href="@Url.Content("~/Design/adminForm/vendor/bootstrap-4.1/bootstrap.min.js")" rel="stylesheet" />
<div class="jumbotron text-xs-center" style="text-align: center;">
    <h1 class="display-3">Thank You!</h1>
    <p class="lead"><strong>Please check your email</strong> for further instructions on how to complete your account setup.</p>
    <hr>
    <p>
        Having trouble? <a href="mailto:admin@testingsystemapplication.azurewebsites.net">Contact us</a>
    </p>
    <p class="lead">
        <a class="btn btn-primary btn-sm" href="@Url.Action("Login","Account")" role="button">Continue to Homepage</a>
    </p>
</div>